.item_info {
  display: flex;
  flex-direction: column;
}

.item_info__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.item_info__info::after {
  content: '';
  bottom: 0;
  position: absolute;
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--separator);
}
.item_info__info:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.item_info__info:last-child::after {
  display: none;
}

.item_info__info__div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.item_info__info__div__img {
  width: 52px;
  height: 52px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
}

.item_info__info__div__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 4px;
}
.item_info__info__div__description {
  font-size: 14px;
  color: var(--disabled-color2);
}
